.copy_right_footer {
    position: fixed;
    color: rgb(0, 0, 0) ;
    bottom: 0;
    width:100%;
    background-color: rgb(255, 255, 255);
    line-height: 3;
    text-align: center;
   }
   .heading {
    font-size:23px;
    width:100%;
    margin: 0px;
}
.note
{
    font-size: 15px;
    color: white;
}

body {
    background-size:cover;
}
canvas
{
    
}